<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Bienvenida al sistema</title>
</head>
<body>
    <h1>Bienvenido a mi primer web</h1>
    <p class="intro">A continuacion debes ingresar al sistema</p>

    <form action="/login" method="post">
        <label for="usuario">Usuario: </label>
        <input type="text" name="usuario" required>

        <label for="contrasena">Contraseña: </label>
        <input type="password" name="contrasena" required>

        <button type="submit">Ingresar</button>
        <a href="/registro">Sin usuario? presione aqui para registrarse</a>
    </form>
    
    <h3>{{msg}}</h3>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>